<div class="cuerpo">
  <div class="cabecera">¡Bienvenido a <b>Klok</b>!</div><div class="contenedor">
    
    <p class="info">Empieza eligiendo dónde quieres reservar</p>
    <div class="centrado">

  <ng-container *ngFor="let sala of finca.Salas; let i = index">
<div *ngIf="sala.Activa" [routerLink]="['/reservar_espacio/'+i]">
  <label class="nombre">{{sala.Nombre}}</label>
  <span class="icono"></span>
</div>
  </ng-container>
    </div>
</div>
    <div class="scan"><i class="material-icons">camera_alt</i>Scan <b>entradas-salidas</b></div>
<div class="add_espacio" [routerLink]="['/reservas']"><span><i class="material-icons">history</i> Mis reservas</span></div>
</div>