.cuerpo {
    background: var(--color);
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.cabecera {
    margin: 15px;
    color: white;
}
b{
    color: white;
    }
.add_espacio:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    background: white;
    z-index: 0;
}
.add_espacio {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: -10px;
  right: -10px;
  background: white;
  color: var(--color);
  font-size: 15pt;
  text-align: center;
  padding: 25px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px -2px 3px #555;
}
.add_espacio span{
  position: relative;
  color: var(--color);
  font-weight: 500;

}
.centrado {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 260px;
    margin: auto;
    height: 250px;
}
p.info {
    position: absolute;
    top: 80px;
    left: 15px;
    right: 15px;
    margin: auto;
    text-align: center;
    font-size: 14pt;
    width: 220px;
    color: black;
}
span i.material-icons {
    color: var(--color);
    transform: scaleX(-1) rotate(-295deg);
    font-size: 19pt;
    vertical-align: sub;
}
.centrado > div {
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    padding: 15px;
}
label.nombre {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: var(--color);
    font-weight: 600;
    font-size: 9pt;
}
span.icono {
    position: absolute;
    top: 15px;
    left: 25px;
    right: 25px;
    bottom: 35px;
    background: var(--color);
}

.centrado > *:nth-child(4n+1) {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
}
.centrado > *:nth-child(4n) {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}
.centrado > *:nth-child(4n+2){
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    bottom: 0;
}
.centrado > *:nth-child(4n+3) {
    position: absolute;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;
}

.scan b {
    font-weight: 400;
}

.scan i {
    color: white;
    display: block;
    margin-bottom: 5px;
}
.scan {
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
    color: white;
    font-weight: 100;
    width: 170px;
    margin: auto;
    text-align: center;
    font-size: 11pt;
}


.menu {
width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.menu i {
  color: white;
}

.menuMostrar ul {
    margin-top: 40px;
}
.menuMostrar li {
    list-style: none;
    line-height: 30pt;
    font-size: 15pt;
}
.menuMostrar span {
    font-weight: 500;
    font-size: 20pt;
    display: block;
    color: black;
    margin-top: 25px;
}
.menuMostrar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    top: 0;
    background: white;
    padding: 25px;
}
.menuMostrar .atras{
    color: var(--color);
    font-weight: 300;
    line-height: 30px;
    font-size: 13pt;
    text-align: center;
}


.atras {
    width: 30px;
    height: 30px;
    color: white;
    border: solid 1px;
    border-radius: 50%;
}
.atras i {
    line-height: 30px;
    color: white;
    font-weight: 100;
    font-size: 12pt;
}
.menuMostrar .atras{
    color: var(--color);
    text-align: center;
}