.cabecera{
  background: var(--color);
  color: white;
  padding: 15px;
}
.logo img {
    width: 70px;
}
.menu {
    width: 30px;
    height: 30px;
}
.menu i {
  color: white;
}
.logo {
    width: calc(100% - 70px);
}
.atras {
    width: 30px;
    height: 30px;
    color: white;
    border: solid 1px;
    border-radius: 50%;
}
.atras i {
    line-height: 30px;
    color: white;
    font-weight: 100;
    font-size: 12pt;
}
.cabecera * {
    text-align: center;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}


.menuMostrar ul {
    margin-top: 40px;
    padding: 0;
}
.menuMostrar li {
    list-style: none;
    line-height: 40pt;
    font-size: 15pt;
    border-bottom: solid 1px #ddd;
}
.menuMostrar li:last-child{
  border-bottom: none;
}
.menuMostrar span {
    font-weight: 500;
    font-size: 20pt;
    display: block;
    color: black;
    margin-top: 25px;
}
.menuMostrar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    top: 0;
    background: var(--color);
    padding: 25px;
}
.menuMostrar .atras{
    color: white;
    font-weight: 300;
    line-height: 30px;
    font-size: 13pt;
    text-align: center;
}

.tarjetaMenu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 90px;
    background: white;
    border-radius: 15px 15px 0px 0px;
    padding: 25px;
}
.menuMostrar ul li i {
    vertical-align: middle;
    margin-right: 5px;
}