<div class="cabecera">
<div class="atras" [routerLink]="['/inicio']">
  <i class="material-icons">keyboard_backspace</i></div>
<div class="logo"><img src="https://firebasestorage.googleapis.com/v0/b/klok-reservas.appspot.com/o/klok.jpg?alt=media&token=64db126c-3e10-4bce-a71e-281c211b0d9d"></div>
<div class="menu" (click)="menu()"><i class="material-icons">menu</i></div>
</div>
<div class="menuMostrar"  *ngIf="verMenu">
   <i class="material-icons atras" (click)="menu()">keyboard_backspace</i>
<div class="tarjetaMenu"><span class="titulo">Mi cuenta</span>
<ul>
<li [routerLink]="['/reservas']"><i class="material-icons">schedule</i> Mis reservas</li>
<li [routerLink]="['/']"><i class="material-icons">power_settings_new</i> Salir</li>
</ul>
</div>
</div>