.cuerpo {
    background: var(--color);
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.tarjeta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 70px;
    background: white;
    padding: 15px;
}
.tarjeta a {
    position: absolute;
    right: 0;
    color: var(--color);
    font-weight: 500;
}
.tarjeta a.completo {
  color: inherit;
}
.tarjeta span {
    margin-left: 15px;
    font-weight: 500;
}
.tarjeta span:nth-child(4) {
    border-bottom: none;
}
.tarjeta div {
    line-height: 45pt;
}
.atras {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 30px;
  height: 30px;
  color: white;
  border: solid 1px;
  border-radius: 50%;
  text-align: center;
}
.atras i {
    line-height: 30px;
    color: white;
    font-weight: 100;
    font-size: 12pt;
}
input {
    font-size: 12pt;
    color: #4D4D4D;
    border: none;
    border-bottom: solid 1px #ccc;
    width: 90px;
    font-family: inherit;
}
input[type="time"] {
    width: 80px;
}
li {
    list-style: none;
    font-size: 11pt;
    border-bottom: solid 2px #ddd;
    line-height: 40px;
    position: relative;
}
ul {
    padding: 0;
    position: absolute;
    left: 15px;
    right: 14px;
    top: 70px;
    bottom: 30px;
    overflow: auto;
}
.tarjeta li > * {
    vertical-align: middle;
}
.tarjeta li > i.material-icons {
    color: #ccc;
    font-size: 16pt;
    margin-right: 10px;
}

.add_espacio:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    background: var(--color);
    z-index: 0;
}
.add_espacio {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: -10px;
  right: -10px;
  background: var(--color);
  color: white;
  font-size: 15pt;
  text-align: center;
  padding: 25px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px -2px 3px #555;
}
.add_espacio span{
  position: relative;
  color: white;
  font-weight: 500;
}

.popup:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: -1;
    opacity: 0.5;
}
.popup > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 250px;
    height: 270px;
    padding: 25px;
    background: white;
    margin: auto;
    border-radius: 15px;
}
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.popup .titulo {
    font-size: 20pt;
    text-align: center;
    font-weight: 600;
    color: var(--color);
}
.popup p {
    font-size: 16pt;
    text-align: center;
    width: 180px;
    margin: auto;
    margin-top: 20px;
}
.botones {
    margin-top: 35px;
}
.botones button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 15pt;
    font-weight: 500;
    background: var(--color);
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
}
.botones button:first-child {
    border: solid 3px;
    background: transparent;
    color: var(--color);
}