<div class="cuerpo"><app-cabecera></app-cabecera>
<div class="tarjeta"><h2>Mis reservas</h2>
<ul>
<li *ngFor="let hora of reserva"><i class="material-icons">access_time</i>{{hora.Inicio._seconds | fechaFirebase}} {{finca.Salas[hora.Sala].Nombre}} (X{{hora.Cantidad}})<i (click)="confirmacion(hora.Id)"class="material-icons">delete</i><!--<span>{{hora.hora}}</span><a (click)="enlace(hora.hora,hora.libre)" *ngIf="hora.libre > 0">Reservar</a><a class="completo" *ngIf="hora.libre == 0">Completo</a>--></li>
</ul>
</div>
<div class="popup" *ngIf="popUp">
  <div>
    <div class="titulo">Eliminar</div>
    <p>¿Desea eliminar esta reserva?</p>
    <div class="botones">
      <button (click)="eliminar()">Sí</button>
      <button (click)="cerrar()">No</button>
    </div>
  </div>
</div>
</div>